.nav__items {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 20px;
    justify-content: space-between;
}

.nav__items-right, .nav__items-center {
    display: flex;
    gap: 20px;
}

header {
    position: relative;
    z-index: 2;
    width: 100%;
}

.nav__item {
    display: flex;
    align-items: center;
    gap: 5px;
}
